body {
  text-align: center;
  color: white;
  background: rgb(255, 190, 11);
  background: linear-gradient(
    29deg,
    rgba(255, 190, 11, 1) 0%,
    rgba(251, 86, 7, 1) 25%,
    rgba(255, 0, 110, 1) 50%,
    rgba(131, 56, 236, 1) 75%,
    rgba(252, 176, 69, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  font-family: "Audiowide", sans-serif;
}


.hint{
  background: none;
  /* size: 20px; */
  margin: auto;
  height: 50%;
  border: none;
  
  
}
h5{
  font-size: larger;
}
table{
  margin: auto;
  outline: 20px solid rgb(0, 0, 0);
  background-color: wheat;
  color:black;
  
  transition:2s;
  -webkit-transition:2s;
  -moz-transition:2s;

}

.over{
  transition: 0.5s;
  background-color:#ffbf7e ;
}
.isShown-true{
transition: 0.5s;
  background-color: white;
}

td{
  padding:10px;
  width:20px;
  height:20px;
  border: 2px solid black;
}



div.modal{
    position: center;
    padding:50px;
    border:3px;
    border-style: solid;
    border-color:black;
    background-color:rgb(175, 175, 175);
    
    
}

.seasy{
  background-color: rgb(0, 37, 183);
  color:white;
  font-size: large;
}

.easy{
  background-color: green;
  color:white;
  font-size: large;
}


.inter{
background-color: yellow;
color:red;
font-size: large;

}
.hard{
  background-color:sandybrown;
  color:white;
  font-size: large;
}

.hell{
  background-color: red;
  color:black;
  font-size: large;
}


.table{
    background-color: #ffe4c4;
    

   
}

/* 
.isShown-false{
  display: none;
} */


footer{
  margin-top: 100px;
  font-size:xx-large;
}
/* 
.no-right-click {
  pointer-events: auto;
} */

.newGameButton {
  display: inline-block;
  height: 134px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  width: 104px;

}


